html {
  transition: background 0.2s;
  &.dark-mode {
    //background-image: url('~assets/img/bg-1.jpg');
    background: #010C04;
    body {
      color: rgba($text-invert, 0.8);
    }
    strong {
      color: $text-invert;
    }
    .always-light {
      color: $text;
      strong {
        color: $text;
      }
    }
    .title, .subtitle, h1, h2, h3, h4, h5, h6 {
      color: white;
    }
    .button {
      &.is-primary {
        background-color: white;
        color: $primary;
      }
    }
    .has-background-light:not(.always-light) {
      background: $dark-mode-background !important;
    }
    .has-text-primary {
      color: white !important;
    }
    .card:not(.always-light) {
      background-color: darken($dark-mode-background, 5%);
      color: white;
      .card-header-title {
        color: white;
      }
      &:hover {
        color: white;
      }
    }
    .menu-label {
      color: white;
    }
    .menu-list {
      a {
        color: white;
        &:hover {
          color: $menu-item-hover-color;
        }
      }
    }
    code {
      background-color: #1c282a;
      color: $accent;
    }
    pre {
      background-color: #1c282a;
      color: $accent;
    }
    .content blockquote {
      background-color: $dark-mode-background;
      border-left: 3px solid $accent;
      font-size: 24px;
  }
    .table {
      background-color: $dark-mode-background;
      color: white;
      thead td, thead th {
        color: white;
      }
    }
  }
}
