/* Import the rest of Bulma */
@import '../../node_modules/bulma';
@import '../../node_modules/@creativebulma/bulma-tooltip';
@import '../../node_modules/atropos/atropos.scss';
@import 'dark-mode';
@import 'bulma/sass/utilities/mixins';

@media screen and (min-width: 1390px) {
  .container:not(.is-max-desktop):not(.is-max-widescreen) {
      max-width: 1390px;
  }
}

.title {
  font-weight: 700;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  outline: 0;
  &.subtitle {
    &:hover {
      color: $accent;
    }
  }
}
a.is-underlined {
  border-bottom: $link 1px solid;
  text-decoration: none !important;
}
.input {
  border-width: 1px;
}
.has-limited-width-big {
  width: 740px;
  max-width: 100%;
}

.has-limited-width {
  width: 640px;
  max-width: 100%;
}
.has-limited-width-small {
  width: 460px;
  max-width: 100%;
}
.has-limited-width-smaller {
  width: 300px;
  max-width: 100%;
}
.is-horizontal-centered {
  margin-left: auto;
  margin-right: auto;
}

.is-disabled {
  cursor: not-allowed !important;
  opacity: .65;
}

.title.is-1 {
  line-height: 1.25;
}

.site-title {
  line-height: 80px;
  font-size: 62px;
}

.title.is-2 {
  line-height: 48px;
}

.title.is-3 {
  line-height: 36px;
}

.has-background-gradient {
  background: linear-gradient(180deg, rgba(10, 35, 4, 0.4) 0%, #010C04 100%);
}
.has-background-gradient-accent {
  background: linear-gradient(180deg, rgba($accent, 0) 0%, $accent 100%);
  background: linear-gradient(360deg, rgba(95, 255, 0, 0.3) -32.97%, rgba(95, 255, 0, 0.9) -32.96%, rgba(95, 255, 0, 0) 50.14%);
}

.has-text-shadow {
  text-shadow: 2px 2px 4px #000000;
}
.has-border {
  border: 2px solid $grey-lightest;
}
.has-border-accent {
  border: 1px $accent solid;
}
.has-border-accent-light {
  border: 1px rgba(95, 255, 0, 0.1) solid;
}

.card {
  //transition: box-shadow 0.2s;
  display: block;
  &.is-flat {
    border: $card-footer-border-top;
    box-shadow: none;
    .card-header {
      box-shadow: none;
      border-bottom: $card-footer-border-top;
    }
    &.is-hoverable {
      cursor: pointer;
      &:hover {
        //border: 1px solid rgba($scheme-invert, 0);
        box-shadow: $card-shadow;
      }
    }
  }
}
a.card {
  color: $text;
}

.notification {
  &.is-primary {
    &.is-outlined {
      border: 2px solid $primary;
      color: $text;
      background: none;
    }
  }
}

.input {
  &.is-primary {
    &.is-outlined {
      border: 1px solid $primary;
      color: $primary;
      background: none;

    }
  }
  &.is-white {
    &.is-outlined {
      border: 1px solid $white;
      color: $white;
      background: none;
      &::placeholder {
        color: white;
        opacity: 0.5;
      }
    }
  }
}
.hero-body {
  max-width: 100%;
}

.image {
  overflow: hidden;
  img {
    height: auto !important;
  }
}
.has-background-image {
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

.card-content {
  position: relative;
}

.button {
  height: 3em;
  &.is-wide {
    min-width: 140px;
  }
  &.is-wider {
    min-width: 190px;
  }
}

.has-radius-big {
  border-radius: 16px;
}
.has-radius {
  border-radius: 6px;
}

.has-radius-small {
  border-radius: 2px;
}

.has-shadow {
  box-shadow: $box-shadow;
}
.has-shadow-accent {
  box-shadow: 0px 0px 40px -5px rgba($accent, 0.7);
}

.box {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(to bottom, $accent, #051707);
  }
  &.fade-border {
    border: none;
  }
}
@include touch {
  .site-title, .title.is-1 {
    font-size: 40px;
  }
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.2s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}