/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

//@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$family-sans-serif: 'Space Grotesk', sans-serif;
$family-headers: 'Space Mono', monospace;

// Colors
$primary: #1c282a;
$secondary: #20cf8d;
$accent: #5FFF00;

$secondary-invert: findColorInvert($secondary) !default;
$accent-invert: findColorInvert($accent) !default;

$custom-colors: (
  "secondary":($secondary, $secondary-invert),
  "accent":($accent, $accent-invert),
);

$text: #333333;

$link: $accent;
$link-hover: lighten($accent, 20%);
$link-focus: lighten($accent, 20%);
$link-active: lighten($accent, 20%);

$title-weight: 600;
$title-color: $primary;
// $subtitle-color: $secondary;
$title-family: $family-headers;
$subtitle-family: $family-headers;

$body-line-height: 1.7;
$button-padding-horizontal: 1.7em;
$button-text-color: $accent;

$dark-mode-background: #010C04;

$navbar-height: 5rem;
$control-border-width: 2px;
$footer-background-color: transparent;
$input-background-color: rgba($accent, 0.08);
$input-color: white;

$border: $accent;
$tabs-link-hover-border-bottom-color: $accent;
$tabs-link-active-border-bottom-color: $accent;
$tabs-link-color: white;
$tabs-link-hover-color: $accent;
$tabs-link-active-color: $accent;
$navbar-dropdown-item-hover-color: $link;
$box-color: white;
$box-background-color: #021207;
$label-weight: 400;

$background-gradient: linear-gradient(180deg, rgba(18,54,3,1) 0%, rgba(10,10,10,0) 35%);