/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
$family-sans-serif: 'Space Grotesk', sans-serif;
$family-headers: 'Space Mono', monospace;

// Colors
$primary: #1c282a;
$secondary: #20cf8d;
$accent: #5FFF00;

$secondary-invert: findColorInvert($secondary) !default;
$accent-invert: findColorInvert($accent) !default;

$custom-colors: (
  "secondary":($secondary, $secondary-invert),
  "accent":($accent, $accent-invert),
);

$text: $primary;

//$link: $secondary;
$link-hover: $accent;
$link-focus: $accent;
$link-active: $accent;

$title-weight: 600;
$title-color: $primary;
// $subtitle-color: $secondary;
$title-family: $family-headers;
$subtitle-family: $family-headers;

$body-line-height: 1.7;
$button-padding-horizontal: 1.7em;

$dark-mode-background: #010C04;

$navbar-height: 5rem;
$control-border-width: 2px;
$footer-background-color: transparent;
