/* Import Bulma Utilities */
@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

@import url("https://use.typekit.net/bsr3vel.css");
//$family-sans-serif: pragmatica-extended,sans-serif;
$family-headers: pragmatica-extended,sans-serif;

// Colors
$primary: #1c282a;
$secondary: #20cf8d;
$accent: red;

$secondary-invert: findColorInvert($secondary) !default;
$accent-invert: findColorInvert($accent) !default;

$custom-colors: (
  "secondary":($secondary, $secondary-invert),
  "accent":($accent, $accent-invert),
);

$text: $primary;

//$link: $secondary;
//$link-hover: lighten($secondary, 20%);
//$link-focus: lighten($secondary, 20%);
//$link-active: lighten($secondary, 20%);

$title-weight: 400;
$title-color: $primary;
// $subtitle-color: $secondary;
$title-family: $family-headers;
//$subtitle-family: $family-headers;

$body-line-height: 1.7;
$button-padding-horizontal: 1.7em;

$dark-mode-background: #101D56;
